.topContainer {
  margin: 0;
  padding: 0;
  margin-top: 15px;
  /* border: 1px solid black; */
  text-align: center;
  margin-bottom: 0px;
}

.hidden {
  margin-top: 15px;
  /* border: 2px solid black; */
  text-align: center;
}

.title {
  position: absolute;
  font-size: 16px;
  margin-top: 5px;
  font-weight: 600;
  letter-spacing: 0.3em;
  color: var(--app-primary-color);
  text-decoration: none;
  text-align: center;
  display: inline-block;
  pointer-events: auto;
  /* margin: 4px; */
}

.hamburger-icon {
  display: none;
}

.logo {
  /* border: 2px solid black; */
  float: right;
  margin-right: 25px;
  margin-bottom: 0;
  margin-top: -2px;
  padding: 0;
  z-index: 998;
}

.logo1 {
  /* width: 100%; */
  /* border: 2px solid black; */
  height: 40px;
  width: 38px;
  pointer-events: auto;
}

.cart-size-display {
  position: absolute;
  top: 8px;
  right: 18px;
  display: flex;
  float: right;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  background-color: black;
  color: white;
  border-radius: 50%;
  font-size: 13px;
  /* font-weight: bold; */
  z-index: 999;
}

.navbar {
  display: inline-block;
  padding: 10px 0px;
  font-size: 1em;
  /* border: 2px solid black; */
  width: 100%;
  text-align: center;
  margin-bottom: 2px;
  margin-top: 10px;
}



.column {
  display: inline-block;
  outline: none;
  padding: 8px 9px;
  color: black;
  text-decoration: none;
  font-weight: 500;
  margin-left: 0.5em;
  margin-right: 0.5em;
  /* border: 2px solid black; */
}

.column.active {
  border-bottom: 2px solid black;
}


@media (max-width: 700px) {
  .navbar {
    display: none;
    /* Hide the menu items */
  }

  .title {
    position: relative;
    letter-spacing: 0.3em;
    text-align: center;
    display: inline-block;
    pointer-events: auto;
  }

  .logo {
    /* border: 2px solid black; */
    float: right;
    margin-right: 20px;
    margin-top: -1px;
  }

  .cart-size-display {
    right: 16px;
    width: 19px;
    height: 19px;
    top: 11px;
  }

  .hamburger-icon {
    float: left;
    display: block;
    cursor: pointer;
    margin-left: 25px;
    margin-top: 5.5px;
    /* margin-bottom: 3.5px; */
    color: black;
    /* width: 20px; */
    /* height: 8px; */
  }

  .ham-icon {
    width: 16px;
    height: 20px;
  }

  /* //////////////////sidebar-css/////////////// */

  .top-sidebar-box {
    margin: 0;
    padding: 0;
    /* height: 100%; */
    /* border: 1px solid blue; */
    /* position: relative; */
    display: flex;
  }

  .sidebar {
    /* border: 2px solid black; */
    position: fixed;
    top: 0px;
    left: 0;
    width: 255px;
    height: 100%;
    min-height: 100vh;
    margin: 0;
    background-color: rgb(255, 255, 255);
    transition: left 0.3s ease;
    z-index: 999;
    overflow-y: auto;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    /* border: 1px solid black; */
  }

  .sidebar.open {
    left: 0;
  }

  .sidebar-overlay {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    min-height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 998;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .sidebar-menu {
    margin-top: 25px;
    list-style: none;
    margin-left: 0;
    margin-right: 0;
    display: flex;
    flex-direction: column;
    /* border: 1px solid brown;  */
  }

  .sidebar-menu li {
    margin-bottom: 10px;
    /* border: 1px solid black;  */
  }

  .Sidebaricon {
    /* float: left; */
    font-size: 16px;
    margin-bottom: 0;
    padding: 5px 0px;
    margin-left: 10px;
    text-decoration: none;
    color: black;
    list-style: none;
    /* border: 1px solid red; */
  }

  .horizontal-line {
    /* background-color: green; */
    width: 100%;
    border-top: 1px solid black;
    opacity: 0.5;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 5px;
  }

  .sidebar-menu li Link {
    text-decoration: none;
    color: #333;

  }

  .sidebar-column {
    display: inline-block;
    outline: none;
    padding: 8px 0px;
    width: fit-content;
    color: rgb(0, 0, 0, 0.5);
    text-decoration: none;
    font-weight: 500;
    margin-left: 14px;
    /* border: 1px solid black; */
  }
  .sidebar-column:active {
    /* border-bottom: 2px solid black; */
    font-weight: bold;
    color: black;
  }

  .sidebar-column.active {
    /* border-bottom: 2px solid black; */
    font-weight: bold;
    color: black;
  }

  .topContainer {
    margin-top: 16px;
    text-align: center;
    height: 32px;
    margin-bottom: 16px;
    /* border-top: 2px solid black; */
  }
}