.main-body{
    /* border: 1px solid black; */
    /* margin-right: -2px; */
    padding: 0;   
}



.top-box{
    display: block;
    text-decoration: none;
    text-align: center;
    margin-bottom: 2em;
    margin-left: 3em ;
    margin-right: 3em ;
    /* border: 2px solid rgb(192, 9, 9); */
}

header{
    text-align: center;
}

.img-title-page {
    font-size: 16px;
    font-weight: 500;
    display: block;
    /* border: 2px solid black; */
    margin: 30px 0;
    margin-bottom: 0;
} 
span{
    color: rgb(0, 0, 0);
    font-size: 13px;
    opacity: 0.9;
}

.imgg-head-pages {
    max-width: 100%;
    transition: 0.5s opacity;
    width: 100%;
    object-position: center;
    object-fit: cover ;
    height: 320px;
    overflow-clip-margin: content-box;
    overflow: clip;
}

.grid{
    display: block;
    list-style-type: disc;
    margin-top: 10px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    padding-inline-start: 40px;
    padding-inline-end: 40px;
    /* border: 2px solid black; */
}
/* :host{
    text-align: center;
    margin: 0 48px;
}
@media (max-width: 950px){

:host {
    margin: 0 12px;
}
} */

.items{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 50px 0px 0px 0px;
    padding: 0;
    list-style: none;
    /* border: 2px solid rgb(183, 21, 48); */
    padding: 5px 30px ;
}


.item{
    display: list-item;
    text-align: center;
    flex: 1 1;
    flex-basis: 30%;
    max-width: 30%;
    /* border: 1px solid rgb(21, 113, 183); */
    margin: 0px 10px;
    margin-bottom: 80px;
}

Link{
    cursor: pointer;
    text-decoration: underline;
}

.item-link-to-dscrp{
    display: block;
    text-decoration: none;
}

.each-img-item{
    display: inline-block;
    margin-left: 0;
    margin-right: 0;
    position: relative;
    overflow: hidden;
    margin: 0;
    /* border: 1px solid rgb(19, 152, 39); */
    width: 70%;
}

.img-detail{
    color: black;
    font-weight: bold;
    margin-top: 35px;
    /* border: 1px solid rgb(148, 196, 25); */
    text-align: center;
}


@media (max-width: 1200px){
 
    .box1-page1{
    margin-left: 0 ;
    margin-right: 0 ;
    }
    .grid{
    
        padding-inline-start: 0px;
        padding-inline-end: 0px;
        /* border: 2px solid black; */
    }
}

@media  (max-width: 700px) {

    .imgg-menswear-head-page1{
        display: none;
        margin: 0;
        padding: 0;
    }

    .grid{
        padding: 0;
    }

    .img-title {
        font-size: 16px;
        font-weight: 500;  
    }  

    .items{
        margin-left: 0;
        margin-right: 0;
        justify-content: baseline;
    }

    .item{
        flex: 1 1;
        flex-basis: 49%;
        max-width: 49%;
        margin-left: 0;
        margin-right: 0;
    }
    .each-img-item{
        display: inline-block;
        margin-left: 0;
        margin-right: 0;
        position: relative;
        overflow: hidden;
        /* border: 1px solid rgb(19, 152, 39); */
        width: 90%;
        height: 90%;
       
    }

   
}

@media (max-width: 240px) {

    h2 {
        font-size: 0.6em;
        font-weight: 500;
    }
}
