.main-box {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 60px;
    margin-bottom: 180px;
    padding-left: 100px;
    padding-right: 100px;
    z-index: 997;
}
.popBar{
    position: fixed;
    right: 0;
    z-index: 999;
    margin: 0;
    padding: 5px;
    /* border: 1px solid rgb(13, 3, 3, 0.4); */
    margin-right: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
    height: 130px;
    margin-top: -40px;
}

.popbar-message{
    /* border: 1px solid black; */
    font-family: Roboto, 'Open Sans', sans-serif;
    margin-left: 15px;
    margin-top: 18px;
    margin-bottom: 22px;
    font-size: 13px;
}
.close-popup-button{
    float: right;
    font-size: 18px;
    font-weight: lighter;
    margin: 8px;
    cursor: pointer;
}
.pop-cart-buttons{
    display: flex;
    flex-direction: row;
    /* border: 1px solid blue; */
    width: 22em;
    padding: 15px;
}
.pop-cart-button-1 {
    /* background-color: #ff9f00; */
    color: rgb(0, 0, 0);
    font-weight: 500;
    font-size: 16px;
    width: 50%;
    cursor: pointer;
    border: 2px solid black;
    padding: 8px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 8px;
}
.pop-cart-button-1:active{
    background: black;
    color: rgb(255, 255, 255);
}
.pop-cart-button-2 {
    /* background-color: #fb641b; */
    padding-right: 12px;
    padding-left: 12px;
    color: rgb(0, 0, 0);
    font-weight: 500;
    font-size: 16px;
    width: 50%;
    cursor: pointer;
    border: 2px solid black;
    padding: 8px;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: 8px;
}
.pop-cart-button-2:active{
    background: black;
    color: rgb(255, 255, 255);
}
@media (max-width : 700px)
{
    .popBar{
    position: fixed;
    float: none;
    bottom: 0;
    z-index: 999;
    margin: 0;
    padding: 5px;
    padding-left: 0px;
    padding-right: 0px;
    /* border: 1px solid rgb(13, 3, 3, 0.4); */
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    background-color: white;
    height: 110px;
    width: 100%;
    }
    .popbar-message{
        /* border: 1px solid black; */
        font-family: Roboto, 'Open Sans', sans-serif;
        margin-left: 20px;
        margin-top: 10px;
        margin-bottom: 25px;
        font-size: 14px;
        padding-left: 0px;
        padding-right: 0px;
    }
    .close-popup-button{
        float: right;
        font-size: 18px;
        font-weight: lighter;
        margin: 5px;
        margin-right: 12px;
        cursor: pointer;
        padding-left: 0px;
        padding-right: 0;
    }
    .pop-cart-buttons{
        display: flex;
        flex-direction: row;
        /* border: 1px solid blue; */
        width: 100%;
        padding: 0px;
        margin: 0;
        margin-bottom: 10px;
    }
    .pop-cart-button-1 {
        /* background-color: #ff9f00; */
        color: rgb(0, 0, 0);
        font-weight: 500;
        font-size: 16px;
        width: 50%;
        cursor: pointer;
        border: 2px solid black;
        padding: 0px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-left: 20px;
    }.pop-cart-button-2 {
        /* background-color: #fb641b; */
        color: rgb(0, 0, 0);
        font-weight: 500;
        font-size: 16px;
        width: 50%;
        cursor: pointer;
        border: 2px solid black;
        padding: 0;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-right: 20px;
    }

}



.cart-button-mobile {
    display: none;
}

.item-img-top-box {
    /* border: 1px solid brown; */
    /* padding: 10px; */
    width: 50%;
    align-items: center;
    justify-content: center;
    place-items: center;
    text-align: center;
    padding-left: 0px;
    padding-right: 0px;

}

.img-display {
    /* border: 1px solid salmon; */
    /* min-height: 90%; */
    place-items: center;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.selected-item-img {
    /* border: 1px solid rgba(158, 150, 150, 0.8); */
    margin-left: 0;
    margin-right: 0;
    overflow: hidden;
    margin: 0;
}

.selected-item-image {
    /* border: 1px solid  rgba(158, 150, 150, 0.8); */
    margin: 0;
    width: 100%;
    /* min-height: 100%; */
    /* object-position: center;
    object-fit: cover;
    overflow: hidden; */
    transition: opacity 0.5s ease 0s;
}

/* .cart-button-1 {
    background-color: #ff9f00;
    margin: 1px;
    padding: 15px;
    color: white;
    font-weight: 600;
    font-size: 25px;
    width: 50%;
    cursor: pointer;
    border: 1px solid black;
} */

/* .cart-button-2 {
    background-color: #fb641b;
    margin: 1px;
    padding: 15px;
    color: white;
    font-weight: 600;
    font-size: 25px;
    width: 50%;
    cursor: pointer;
    border: 1px solid black;
} */

.item-details-top-box {
    /* border: 1px solid #a52a2a; */
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    width: 40%;
    /* margin-left: 10px; */
    display: flex;
    flex-direction: column;
    /* padding-left: 100px;
    padding-right: 100px; */
}


.img-detail-title {
    /* border: 1px aqua solid; */
    font-size: 24px;
    font-weight: 500;
    font-family: 'Roboto', 'Noto', sans-serif;
    width: auto;
}

.img-detail-price {
    /* border: 1px aqua solid; */
    font-size: 16px;
    font-weight: 500;
    font-family: 'Roboto', 'Noto', sans-serif;
    color: rgb(13, 3, 3, 0.5);
    margin-bottom: 25px;
    margin-top: 10px;
    width: auto;
}

.img-detail-size {
    /* border: 1px solid purple; */
    padding-top: 14px;
    padding-bottom: 14px;
    display: flex;
    flex-direction: row;
    font-family: 'Roboto', 'Noto', sans-serif;
    /* margin-bottom: 25px; */
    border-bottom: 1px solid rgb(0, 0, 0, 0.2);
    border-top: 1px solid rgb(0, 0, 0, 0.2);
    width: 90%;
    font-size: 12px;
}

.img-detail-quantity {
    /* border: 1px solid purple; */
    padding-bottom: 14px;
    padding-top: 14px;
    display: flex;
    flex-direction: row;
    font-size: 12px;
    font-family: 'Roboto', 'Noto', sans-serif;
    border-bottom: 1px solid rgb(0, 0, 0, 0.2);
    width: 90%;
    margin-bottom: 35px;
}

.img-select-size {
    border: 0;
    /* border-bottom: 1px solid rgb(0, 0, 0, 0.4); */
    width: 90%;
    margin: 0px;
    font-size: 16px;
    margin-left: 45px;
}

.img-select-quantity {
    border: 0;
    /* border-bottom: 1px solid rgb(0, 0, 0, 0.4); */
    font-size: 16px;
    width: 90%;
    margin: 0px;
    margin-left: 22px;
}

.img-detail-description-heading {
    /* border: 1px aqua solid; */
    font-size: 14px;
    font-weight: bold;
    font-family: 'Roboto', 'Noto', sans-serif;
    margin-top: 30px;
    margin-bottom: 10px;
}

.description-detail {
    /* border: 1px aqua solid; */
    font-size: 13px;
    font-weight: 500;
    font-family: 'Roboto', 'Noto', sans-serif;
    color: rgb(13, 3, 3, 0.6);
    width: 90%;
}

.img-detail-features {
    /* border: 1px solid black; */
    font-size: 14px;
    font-weight: 500;
    font-family: 'Roboto', 'Noto', sans-serif;
    margin-bottom: 0px;
    width: 90%;
    margin-top: 30px;
}

.img-feature-title {
    font-size: 14px;
    font-weight: 500;
    font-family: 'Roboto', 'Noto', sans-serif;
    margin-bottom: 10px;
    color: rgb(13, 3, 3, 0.6);
}

.img-features-details {
    font-size: 13px;
    font-weight: 500;
    font-family: 'Roboto', 'Noto', sans-serif;
    color: rgb(13, 3, 3, 0.6);
    width: 90%;
    margin-left: 35px;
    list-style: circle;
    list-style-type: circle;
}

.buttons {
    /* border: 1px solid green; */
    align-items: center;
    justify-content: center;
    width: 100%;
    text-decoration-color: white;
    cursor: pointer;
    margin-top: 35px;
}

.cart-button {
    border: 2px solid black;
    padding: 8px;
    /* padding-left: 10px;
    padding-right: 10px; */
    width: 12em;
    font-size: 14px;
    cursor: pointer;
}
.cart-button:active{
    background: black;
    color: rgb(255, 255, 255);
}
.cart-button:visited{
    background: rgb(157, 181, 189);
}


@media (max-width : 1400px) {
    .main-box {
        /* border: 1px solid black; */
        padding: 15px;
        padding-top: 5px;
        display: flex;
        flex-direction: row;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 50px;
        margin-bottom: 100px;
    }
}

@media (max-width : 1000px) {
    .item-details-top-box {
        /* border: 1px solid #a52a2a; */
        width: 50%;
    }

    .item-img-top-box {
        /* border: 1px solid brown; */
        width: 50%;
    }
}

@media (max-width : 700px) {
    .main-box {
        flex-direction: column;
        margin-top: 20px;
        margin-bottom: 40px;
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
        margin-bottom: 100px;
    }

    .item-img-top-box {
        /* border: 1px solid brown; */
        /* padding: 10px; */
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
    }

    .img-display {
        /* border: 1px solid salmon; */
        margin-left: 0px;
        margin-right: 0px;
    }

    .selected-item-img {
        /* border: 1px solid rgba(158, 150, 150, 0.8); */
        margin-left: 0;
        margin-right: 0;
        overflow: hidden;
        margin: 0;
        /* margin-left: 40px;
        margin-right: 40px; */
    }

    .selected-item-image {
        /* border: 1px solid  rgba(158, 150, 150, 0.8); */
        margin: 0;
        width: 80%;
        height: 70%;
        transition: opacity 0.5s ease 0s;
    }

    .item-details-top-box {
        width: auto;
        margin: 0;
        margin-bottom: 40px;
        margin-top: 10px;
        /* border-top: 1px solid rgb(0, 0, 0, 0.7); */
    }

    .item-details-box {
        width: auto;
        /* border: 1px solid black; */
        padding: 0;
        margin: 0;
        margin-top: 10px;
        justify-content: center;
        align-items: center;
        margin-left: 30px;
        margin-right: 30px;
        padding-left: 10px;
    }
    .img-detail-title {
        /* border: 1px aqua solid; */
        font-size: 20px;
        font-weight: 500;
        font-family: 'Roboto', 'Noto', sans-serif;
        width: auto;
    }
    
    .cart-button-mobile {
        display: inline-block;
        background-color: #172C50;
        height: 60px;
        overflow: hidden;
        position: fixed;
        font-weight: 500;
        font-size: 20px;
        text-align: center;
        color: white;
        position: sticky;
        bottom: 0;
        margin: 0;
    }
    .buttons {
        /* border: 1px solid green; */
        margin-bottom: 0px;
        display: none;
    }
    .main-box {
        padding-bottom: 0px;
        margin-bottom: 0px;
    }
    .cart-item-footer {
        display: none;
    }
}

@media (max-width : 650px) {
    .item-details-box {
        /* border: 1px solid black; */
        margin: 0px;
        padding-left: 10px;
    }
}

@media (max-width : 450px) {
    .item-details-box {
        padding-left: 5px;
    }
}

@media (max-width : 380px) {
    .item-details-box {
        padding-left: 0px;
    }
}
