.empty-cart{
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 10px;
    
}


.cart-item-top-box {
    
    display: block;
    /* border: 1px solid grey; */
    width: 100%;
    padding: auto;
    display: flex;
    flex-direction: column;
    padding-top: 0px;
    padding-bottom: 10px;
    margin-bottom: 80px;
    margin-top: 10px;
}

.cart-item-checkout-Heading{
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 15px;
    width: 100%;
    align-items: center;
    text-align: center; 
}

.cart-item {
    display: flex;
    flex-direction: row;
    border: 1px solid rgb(201, 180, 180);
    border-radius: 10px;
    /* min-height: 60px; */
    margin-left: 30px;
    margin-right: 30px;
    width: auto;
    /* padding: auto; */
    /* justify-content: center; */
    align-items: center;
    margin-bottom: 15px;
}

.prod-img-and-name {
    /* border: 2px solid black; */
    height: 50px;
    /* display: inline-flex; */
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.prod-img {
    /* display: block; */
    /* height: 30px; */
    /* border: 1px solid rgb(237, 227, 227); */
    align-items: center;
    text-align: center;
    width: 50%;
}

.cart-item-name {
    /* border: 1px solid pink; */
    font-size: 16px;
    font-weight: 600;
    width: 50%;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.cart-item-details {
    height: 50px;
    /* border: 2px solid brown; */
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
}

.cart-item-details-size {
    /* border: 1px solid black; */
    align-items: center;
    justify-content: center;
    min-width: 60px;
    display: block;
    font-size: 15px;
    font-weight: 600;
    color: rgb(132, 111, 111);
    width: 33%;
    text-align: center;
}

.cart-item-details-qty {
    /* border: 1px solid rgb(52, 42, 165); */
    display: flex;
    flex-direction: row;
    align-items: center;
    /* margin-right: 10em; */
    font-size: 18px;
    color: rgb(102, 87, 87);
    width: 33%;
}

.cart-item-details-qty button {
    /* border: 1px solid rgb(52, 42, 165); */
    font-size: 20px;
     margin: 3px;
    font-weight: 600;
    color: rgb(102, 87, 87);
}

.cart-item-details-qty-heading {
    /* border: 1px solid rgb(52, 42, 165); */
    font-size: 16px;
    color: rgb(97, 106, 113);
}

.decr {
    font-size: 55px;
}

.cart-item-price {
    /* border: 1px solid rgb(52, 42, 165); */
    align-items: center;
    font-size: 15px;
    color: rgb(97, 106, 113);
    width: 33%;
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    /* text-align: left; */
    align-items: center;
}
.trash-icon{
    /* border: 1px solid pink; */
    align-items: center;
    justify-content: center;
    margin-left: 60px;
    margin-right: 10px;
    font-size: 20px;
    padding: 0;
    padding-top: 5px;
    cursor: pointer;
}
@media (max-width: 900px)
{
    .trash-icon{
        margin-left: 40px;
    }
}
.cart-remove-button{
    /* border: 1px solid black; */
    font-size: 16px;
    font-weight: 600;
    margin-top: 15px;
    margin-bottom: 5px;
    width: 100%;
    align-items: center;
    text-align: center; 
    cursor: pointer;
}

.cart-item-remove{
    border: 0.1px solid rgb(67, 65, 65);
    margin: 5px;
    padding: 8px;
    padding-left: 12px;
    padding-right: 12px;
    background-color: rgb(182, 189, 188);
    width: 100px;
}

@media (max-width : 700px) {
    .cart-item-top-box {
        margin-top: 40px;
    }

    .cart-item {
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 15px;
        margin-top: 10px;
    }

    .cart-item-name {
        /* border: 1px solid pink; */
        font-size: 16px;
        font-weight: 600;
        width: 60%;
    }

    .prod-img-and-name {
        /* border: 2px solid black; */
        height: 45px;
        /* display: inline-flex; */
        margin-left: 0px;
        width: 50%;
    }

    .cart-item-details {
        height: 45px;
        /* border: 2px solid brown; */
        width: 50%;
        margin-right: 0px;
    }

    .cart-item-details-size {
        min-width: 60px;
        display: block;
        font-size: 14px;
        /* font-weight: 600; */
        width: 33%;
    }

    .cart-item-details-qty {
        /* border: 1px solid rgb(52, 42, 165); */
        display: flex;
        flex-direction: row;
        align-items: center;
        /* margin-right: 10em; */
        font-size: 15px;
        color: rgb(102, 87, 87);
        width: 33%;
    }
    

    .cart-item-details-qty-heading {
        /* font-size: 14px; */
    }

    .cart-item-details-qty button {
        /* border: 1px solid rgb(52, 42, 165); */
        /* font-size: 15px; */
        margin: 2px;
    }

    .cart-item-price {
        /* border: 1px solid rgb(52, 42, 165); */
        align-items: center;
        /* margin-right: 15px; */
        /* font-size: 14px; */
        width: 33%;
        justify-content: center;
        text-align: center;
    }
    .trash-icon{
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media (max-width : 585px) {
    .prod-img {
        align-items: center;
    }

    /* .cart-item-top-box {
        margin-top: 40px;

    } */

    .cart-item {
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 15px;
        /* border: 2px solid black;  */
    }

    .cart-item-name {
        /* border: 1px solid pink; */
        font-size: 15px;
        font-weight: 600;
    }

    .cart-item-details {
        height: 45px;
        /* border: 2px solid brown; */
        width: 50%;
    }

    .cart-item-details-size {
        min-width: 60px;
        display: block;
        font-size: 14px;
        /* font-weight: 600; */
        width: 33%;
    }

    .cart-item-details-qty {
        /* font-size: 12px; */
        color: rgb(102, 87, 87);
        width: 33%;
        margin-right: 2px;
    }

    .cart-item-details-qty-heading {
        font-size: 13px;
    }

    .cart-item-details-qty button {
        /* border: 1px solid rgb(52, 42, 165); */
        margin: 3px;
        font-size: 16px;
        margin: 2px;
    }

    .cart-item-price {
        /* border: 1px solid rgb(52, 42, 165); */
        align-items: center;
        /* margin-right: 15px; */
        font-size: 13px;
        width: 33%;
        justify-content: center;
        text-align: center;
    }
    .trash-icon{
        /* border: 1px solid pink; */
        align-items: center;
        justify-content: center;
        /* margin-left: 0px; */
        font-size: 16px;
        margin-right: 10px;
    }
}

@media (max-width:520px) {
    .cart-item {
        display: flex;
        flex-direction: column;
        /* border: 1px solid rgb(181, 21, 21); */
        border-radius: 10px;
        height: 70px;
        width: auto;
        padding: auto;
        align-items: center;
    }
    .cart-item-top-box {
        margin-top: 40px;
        width: 100%;
        /* width: 45%; */
    }
    .prod-img-and-name {
        /* border: 2px solid black; */
        /* display: inline-flex; */
        margin-left: 0px;
        width: 100%;
        margin-bottom: 0px;
    }
    .cart-item-details {
        /* border: 2px solid brown; */
        width: 100%;
        /* border: 2px solid brown; */
        display: flex;
        flex-direction: row;
        float: right;
        align-items: center;
        justify-content: right;
        /* text-align: right; */
    }
    .prod-img {
        align-items: center;
        width: 50%;
        /* float: left; */
        /* border: 1px solid pink; */
    }
    .cart-item-name {
        /* border: 1px solid pink; */
        font-size: 16px;
        font-weight: 600;
        width: 50%;
    }
    .cart-item-details-size {
        text-align: center;
    }
    .cart-item-details-qty {
        text-align: center;
        justify-content: center;
        margin-right: 0px;

    }
    .trash-icon{
        margin-left: 20px;
        font-size: 16px;
    }

}